/* For Chrome, Safari, and newer versions of Edge */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  border-radius: 8px; /* Border radius for the main scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(230, 174, 128); /* Color of the scrollbar handle */
  border-radius: 8px; /* Border radius for the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(251 146 60); /* Color of the scrollbar handle on hover */
}
